h1 {
    font-size: 2.5rem;
}

/* Containers */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 5px solid black;
}

main {
    padding: 30px;
}

.book-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    gap: 30px;
}


/* Components */

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

    width: 250px;
    height: 325px;
    padding: 15px;

    border: 3px solid black;
    background-color: rgb(0, 33, 71);
    color: rgb(225, 230, 233);
}

.book-title {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.book-author {
    font-size: 1.2rem;
    text-align: center;
}

.book-read {
    position: absolute;
    bottom: 15px;
    left: 15px;
    height: 30px;
    width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(0, 33, 71);
    border-radius: 30px;
    font-size: 1.5rem;
    background-color: rgb(225, 230, 233);
}

.book-pages {
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: 30px;
    width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(225, 230, 233);
    font-size: 1rem;
}

.hidden {
    display: none;
}
